tmp/*
Config/database.php
app/tmp/*
app/Config/database.php
app/Config/core.php
app/Test/*
app/webroot/index.php
app/webroot/files/*
app/webroot/js/ckfinder/config.php

filesfckeditor/*
.DS_Store

*.sublime-project
*.sublime-workspace


!empty